#container {
  padding: 0 12px;
}

#container strong {
  color: #000;
  font-weight: 600;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#card-info {
  display: flex;
  justify-content: space-between;
}

#card-info-rate {
  display: inline;
}

#card-info-rate span {
  color: #000;
  font-weight: 600;
}

#card-main {
  padding: 12px;
}

ion-card-content h4 {
  margin: 15px 0;
}