<ion-header [translucent]="true">

    <ion-toolbar>
        <ion-title>
            Movies
        </ion-title>
    </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

    <div id="container">
        <h2><strong>Popular</strong></h2>

        <ion-grid>
            <ion-row>
                <ion-col size="6" [routerLink]="['/movie-details']" *ngFor="let movie of movies" (click)="selectMovie(movie)">
                    <ion-card style="margin: 0">
            
                        <!-- PICTURE -->
                        <ion-img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"></ion-img>
            
                        <!-- CARD -->
                        <div id="card-main" style="font-size: 9px;">
            
                            <!-- TITLE -->
                            <h4 style="font-size: 10px;"><strong>{{ movie.original_title }}</strong></h4>
            
                            <!-- INFO -->
                            <ion-row id="card-info">
            
                                <!-- YEAR -->
                                <span>{{ movie.release_date.substring(0, 4) }}</span>
            
                                <!-- RATE -->
                                <div>
                                    <ion-icon style="color: yellow;" name="star"></ion-icon>
            
                                    <div id="card-info-rate">
                                        <span>{{ movie.vote_average }}</span>/10
                                    </div>
                                </div>
            
                            </ion-row>
                        </div>
            
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>

        <!-- CARD -->
    </div>

</ion-content>