<ion-header [translucent]="true">

    <ion-toolbar>
        <ion-title>
            Movies
        </ion-title>
    </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title>Movies</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <h2><strong>Populaires</strong></h2>

        <!-- CARD -->
        <ion-card *ngFor="let movie of movies">

            <!-- PICTURE -->
            <ion-img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"></ion-img>

            <div id="card-main">

                <!-- TITLE -->
                <h4><strong>{{ movie.original_title }}</strong></h4>

                <!-- INFO -->
                <ion-row id="card-info">

                    <!-- YEAR -->
                    <span>{{ movie.release_date.substring(0, 4) }}</span>

                    <!-- RATE -->
                    <div>
                        <ion-icon style="color: #000;" name="star-outline"></ion-icon>

                        <div id="card-info-rate">
                            <span>{{ movie.vote_average }}</span>/10
                        </div>
                    </div>
                    
                </ion-row>
            </div>

        </ion-card>
    </div>

</ion-content>